.day {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.day button {
  margin-top: 10px;
}
